target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE files ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

### OS files ###
.DS_Store
Thumbs.db
*.log
